$white: #fff;
$black: #000;
$link-blue: #001eff;
$maroon: #800000;
$firebrick: #b22222;

.auth-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.auth-modal {
  position: relative;
  box-sizing: border-box;
  display: flex;
  padding: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  border: 2px solid $maroon;
  border-radius: 2.5%;
}

.modal-header {
  position: absolute;
  display: inline-block;
  text-align: center;
  top: -20px;
  padding: 0px 10px;
  font-size: 25px;
  background-color: $white;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.modal-input {
  height: 30px;
  margin: 15px 0px;
}

.validation-input-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.validation-input {
  width: 70%;
  height: 100%;
}

.input-validation-btn {
  width: 25%;
  height: 100%;
  background-color: #b22222;
  color: $white;
}

.modal-link {
  display: flex;
  justify-content: space-between;
}

.modal-link-btn {
  display: flex;
  justify-content: center;
  width: 50%;
  &:hover {
    cursor: pointer;
    color: $link-blue;
    text-decoration: underline;
  }
}

.modal-submit-btn {
  color: $white;
  background-color: $maroon;
}