$black: #000;
$main: #EA9000;

body {
  position: absolute;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.nav {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  background-color: $main;
  color: $black;
}

.nav__logo {
  margin: 0px 10px;
}

.langs {
  display: flex;
  margin: 0px 10px;
}

.langs-option {
  margin: 0px 10px;
  font-weight: 700;
}